<p>
  employee works!
</p>
<table border="3">
  <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Department</th>
      <th>Join Date</th>
      <th>Manager ID</th>
      <th>Leave Balance</th>
  </tr>
  <tr *ngFor = "let employee of employees | async">
    <td>
        {{employee.empId}}
    </td>
    <td>
        {{employee.ename}}
    </td>
    <td>
        {{employee.empPhone}}
    </td>
    <td>
      {{employee.empEmail}}
    </td>
    <td>
      {{employee.empDept}}
  </td>
  <td>
      {{employee.empJoinDate}}
  </td>
  <td>
      {{employee.empMgrId}}
  </td>
  <td>
    {{employee.empLeaveBal}}
  </td>
  <input type="button" value="Show" (click) ="Dashboard(employee.empId,employee.empMgrId)" />
  </tr>
</table>